div.well h4 {
    font-size: 2rem;           /* Heading size */
    font-weight: bold;            /* Bold headings */
}

div.well p {
    font-size: 1.5rem;           /* Heading size */
    font-weight: normal;            /* Bold headings */
}

div.well a {
    color: #0056b3;              /* Link color */
}

div.well ul li a {
    font-size: 1.5rem;  /* smaller than the title */
    font-weight: normal; /* not bold */
    padding-left: 1rem;
}
